#page1_3.gwd-play-animation .gwd-motion-path-ourp-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["517.33px", "-238.33px", "391.53px", "-122.42px", "218.57px", "-40.44px", "0px", "0px"], "startTimeMs": 200, "endTimeMs": 1700, "easing": "cubic-bezier(0.715, -0.06, 0.545, 1.64)"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 1.5s linear 0.2s 1 normal forwards running gwd-motion-path-ourp-keys-x;
  transform: translate3d(517.33px, 0px, 0px);
}
@keyframes gwd-motion-path-ourp-keys-x {
  0% {
    transform: translate3d(517.33px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5886, -0.0499, 0.8463, 0.5326);
  }
  47.5% {
    transform: translate3d(341.82px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3897, 0.2759, 0.6812, 0.6508);
  }
  65% {
    transform: translate3d(64.8px, 0px, 0px);
  }
  67.5% {
    transform: translate3d(24.57px, 0px, 0px);
  }
  70% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1_3.gwd-play-animation .gwd-motion-path-ourp-anim-y {
  animation: 1.5s linear 0.2s 1 normal forwards running gwd-motion-path-ourp-keys-y;
  transform: translate3d(0px, -238.33px, 0px);
}
@keyframes gwd-motion-path-ourp-keys-y {
  0% {
    transform: translate3d(0px, -238.33px, 0px);
    animation-timing-function: cubic-bezier(0.5588, -0.0432, 0.7499, 0.6321);
  }
  62.5% {
    transform: translate3d(0px, -24.5px, 0px);
  }
  65% {
    transform: translate3d(0px, -13.51px, 0px);
  }
  67.5% {
    transform: translate3d(0px, -4.76px, 0px);
  }
  70% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}